<!DOCTYPE htmp>

<html>
	<head>
		<title>Movies Apps</title>
		
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
	</head>
	
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
			<div class="container">
				<a class="navbar-brand" href="#">Movies</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarker" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav ms-auto">
						<a class="nav-link" href="#">News</a>
						<a class="nav-link" href="#">Login</a>
						<a class="nav-link" href="#">Sign Up</a>
					</div>
				</div>
			</div>
		</nav>
		
		<div class="container">
			<h1>Welcome to Home Page, {{ nama }}</h1>
			<form action="">
				<div class="mb-3">
					<label class="form-label">Mencari Film : </label>
					<input type="text" name="searchMovie" class="form-control" />
				
				</div>
						
				<button type="submit" class="btn btn-primary">Cari</button>
			</form>
			
			<p>Sedang Mencari : {{ searchTerm }}</p>

			<div class="row row-cols-1 row-cols-md-3 g-4">
				{% for i in movies %}
				<div v-for="movie in movies" class="col">
					<div class="card">
						<img class="card-img-top" src="{{ i.image.url }}" />
						<div class="card-body">
							<h5 class="card-title fw-bold">{{ i.title }}</h5>
							<p class="card-text">{{ i.description }}</p>
						
							{% if i.url %}
								<a href="{{ i.url }}" class="btn btn-primary">Movie Link</a>
							{% endif %}
						</div>
					</div>
				</div>
				{% endfor %}
			</div>

			<br />
			<br />
			
			<h2>Bergabung dengan Mailing List : </h2>
			<form action="{% url 'signup' %}">
				<div class="mb-3">
					<label for="email" class="form-label">Masukkan email anda :</label>
					<input type="email" class="form-control" name="email"></input>
				</div>
				<button type="submit" class="btn btn-primary">Daftar</button>
			</form>		
		</div>
		
	</body>
</html>